:root {
    --color-light: #FEFCFB;
    --color-white: #FFFF;
    --color-purple: #230067;
    --color-gradient: linear-gradient(to right,
            #5CCEE6 0%,
            #6979E6 75%,
            #6D5CE6 100%);
    --color-gradient-text: linear-gradient(to left,
            #5CCEE6 0%,
            #6979E6 75%,
            #6D5CE6 100%);
    --color-gradient-top: linear-gradient(to top,
            #5CCEE6 0%,
            #6979E6 75%,
            #6D5CE6 100%);
    --color-grey: #A6A6A6;
    --font-primary: "League Spartan", sans-serif;
}

.text-grey {
    color: var(--color-grey) !important;
}

.text-light {
    color: var(--color-light) !important;
}

.color-light {
    background-color: var(--color-light);
}

.color-purple {
    background: var(--color-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-gradient {
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: var(--color-light) !important;
    font-family: var(--font-primary) !important;
    overflow-y: hidden;
    overflow-x: hidden;
}

.background-nav {
    background-color: var(--color-light);
}

header {
    width: 100%;
    height: 10%;
}

.navbar-collapse {
    flex-basis: 0% !important;
    flex-grow: 0 !important;
    align-items: center;
}

.logoHeader {
    width: 7.5rem;
    margin-left: 1rem !important;
}

.barra-search {
    width: 20rem !important;
    height: 1.5rem;
}

.barra-search::placeholder,
.bi-search,
.bi-funnel {
    font-size: 0.8rem;
    color: #A6A6A6;
}

.barra-search.form-control:focus,
textarea.form-control:focus,
.form-control:focus {
    box-shadow: none !important;
    border-color: #DBDBDB;
}

.barra-header {
    height: 13vh;
    background: var(--color-gradient) !important
}

.scroll-cards-container {
    flex: 1;
    width: 100%;
    padding: 1rem;
    position: relative;
    margin-top: -70px;
    z-index: 10;
}

.colunas {
    gap: 1rem;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;

}

.area {
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    border: 2px solid transparent;
    background:
        linear-gradient(#fff 0 0) padding-box,
        var(--color-gradient) border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-tarefa {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent !important;
    background: linear-gradient(#fff 0 0) padding-box, var(--color-gradient) border-box !important;
}

.card-body {
    max-height: 60vh;
    overflow-y: auto;
}

.card-body::-webkit-scrollbar {
    width: 6px;
    margin-right: 1rem !important;
}

.card-body::-webkit-scrollbar-thumb {
    background: var(--color-gradient-top);
    border-radius: 10px;
}

.card-body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.card-header-tarefa,
.card-header-status,
.modal-header {
    border: none;
    border-bottom: 2px solid transparent;
    border-image: var(--color-gradient-text) 1;
    border-image-slice: 1;
    color: #7B7B7B !important;
    background-color: white !important;
}

.texto-status {
    font-size: 1.1rem;
}

.foto {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent !important;
    background: linear-gradient(#fff 0 0) padding-box, var(--color-gradient) border-box !important;
}

.modal-content {
    border-top: 8px solid transparent !important;
    border-left: 8px solid transparent !important;
    background:
        linear-gradient(#fff 0 0) padding-box,
        var(--color-gradient) border-box !important;
}

.titulo-modal::placeholder {
    color: #A6A6A6 !important;
    text-transform: none;

}

.titulo-modal.form-control:focus {
    box-shadow: none !important;
    border-color: #DBDBDB;
}

.foto-participantes {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent !important;
    background: linear-gradient(#fff 0 0) padding-box, var(--color-gradient) border-box !important;
}

.area-participantes {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    border: 2px solid transparent;
    background:
        linear-gradient(#fff 0 0) padding-box,
        var(--color-gradient) border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nome {
    font-size: 0.8rem;
}

.barra-search-participantes {
    width: 12rem !important;
    height: 0.8rem;
}

.barra-search-participantes::placeholder,
.bi-search {
    font-size: 0.8rem;
    color: #A6A6A6;
}

.barra-search-participantes.form-control:focus,
textarea.form-control:focus,
.fazer-comentario.form-control:focus {
    box-shadow: none !important;
    border-color: #DBDBDB;
}

.adicionar {
    background: var(--color-gradient);
    width: 7rem;
}

.pagina-atual {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10rem;
    border: 2px solid transparent;
    background: linear-gradient(#fff 0 0) padding-box, var(--color-gradient) border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-bottom {
    border: 2px solid transparent !important;
    background: linear-gradient(#fff 0 0) padding-box, var(--color-gradient) border-box !important;
    border-radius: 5rem;
    width: 20rem;
    height: 10vh;
    padding-top: 0.5rem !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.bi-house,
.bi-clipboard,
.bi-bar-chart-line,
.bi-box-arrow-right {
    font-size: 1.4rem !important;
}

.footer {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media (min-width: 992px) {
    .navbar-collapse {
        display: flex !important;
    }
}

@media (min-width: 375px) and (max-width: 765px) {

    .navbar-collapse {
        flex-basis: 100% !important;
        flex-grow: 1;
        align-items: center;
    }

    section {
        display: none;
    }

    .logoHeader {
        width: 6rem;
        margin-left: 0rem !important;
    }

    .barra-header {
        height: 9vh;
    }

    .barra-pesquisar {
        width: 20rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .scroll-cards-container {
        margin-top: 1rem;
        padding: 0rem;
        overflow-y: auto;

    }

    .scroll-cards-container::-webkit-scrollbar {
        width: 6px;
    }

    .scroll-cards-container::-webkit-scrollbar-thumb {
        background: var(--color-gradient-top);
        border-radius: 10px;
    }

    .scroll-cards-container::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    .swiper {
        width: 90% !important;
        padding: 0 1rem !important;
        height: 60vh;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 1.5rem !important;
        height: 1.5rem !important;
        display: flex !important;
    }

    .swiper-button-next {
        right: var(--swiper-navigation-sides-offset, 2px) !important;
    }

    .swiper-button-prev {
        left: var(--swiper-navigation-sides-offset, 2px) !important;
    }

    .swiper-pagination-bullet-active {
        background: var(--color-purple) !important;
    }

    .card {
        max-height: 55vh;
        overflow-y: auto;
    }

    .texto-status {
        font-size: 1rem;
    }

    .titulo-projeto {
        font-size: 0.9rem;
    }

    .navbar-bottom {
        height: 9vh;
        padding: 0 !important;
        margin-top: 0rem;
    }

    .bi-house,
    .bi-clipboard,
    .bi-bar-chart-line {
        font-size: 1.1rem !important;
    }

    .pagina-atual {
        width: 2rem !important;
        height: 2rem !important;
    }

}

@media (min-width: 425px) and (max-width: 767px) {

    .navbar-collapse {
        flex-basis: 100% !important;
        flex-grow: 1;
        align-items: center;
    }

    .barra-pesquisar {
        width: 23rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .logoHeader {
        width: 6rem;
        margin-left: 0rem !important;
    }

}

@media (min-width: 768px) and (max-width: 900px) {


    .texto-status {
        font-size: 1rem;
    }

    .area {
        width: 1.5rem;
        height: 1.5rem;
    }

    .col-md-3 {
        width: 33% !important;
    }

    .container,
    .container-md,
    .container-sm {
        max-width: 740px !important;
    }

    .colunas {
        gap: 0rem;
    }

    .titulo-projeto {
        font-size: 0.9rem;
    }

    .foto {
        width: 1.7rem;
        height: 1.7rem;
    }

}

@media (min-width: 900px) and (max-width: 1023px) {
    .texto-status {
        font-size: 1rem;
    }

    .area {
        width: 1.5rem;
        height: 1.5rem;
    }

    .col-md-3 {
        width: 33% !important;
    }

    .container,
    .container-md,
    .container-sm {
        max-width: 800px !important;
    }

    .colunas {
        gap: 0rem;
    }

    .titulo-projeto {
        font-size: 0.9rem;
    }

    .foto {
        width: 1.7rem;
        height: 1.7rem;
    }

}

@media (min-width: 1024px) and (max-width: 1400px) {
    .col-md-3 {
        width: 30% !important;
    }
}

@media (min-width: 1500px) {
    .col-md-3 {
        width: 30% !important;
    }
}
